.experiencesHeaderContainer {
    width: 100%;
    height: 485px;
    background: #fff url("../../assets/images/experiencesbackground.png") no-repeat top;
    background-size: 100%;
}

.experiencesHeaderContainer h1 {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    color: var(--neutral);
    text-align: center;
    font-size: 96px;
    font-weight: 700;
}